$color-text: #222f3f;
$color-white: #fff;
$color-red: #ce3d4c;
$color-red-active: #9a1926;
$color-red-hover: #ed4b5c;
$color-gray: #e2e8e8;


$font-size: 22px;
$font-Oswald: 'Oswald', sans-serif;
$font-Roboto: 'Roboto', sans-serif;